.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prepare {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
